name: 배포 연습 + step 간 데이터 전달

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    #조건 main 브랜치일 때만
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: deploy
        run: echo "배포 중입니다........."

  example:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.calculate.outputs.result }}
    steps:
      # 스텝 1에서 계산하고 출력함..
      - id: calculate
        run: |
          Result=$((5+3))
          echo "result=$Result" >> $GITHUB_OUTPUT

      # 스텝2 사용
      - id: use
        run: |
          echo "결과: ${{ steps.calculate.outputs.result }}"

  job-c:
    needs: example
    runs-on: ubuntu-latest
    steps:
      - run: echo "이러면 example(job)에서의 변수도 쓸 수 있는 건가? ${{ needs.example.outputs.result }}"
